<div class="dialog-box">
    <h1 mat-dialog-title>Agregar Institución</h1>
    <div mat-dialog-content>
        <form [formGroup]="institucionFormGroup" autocomplete="off">
            <div class="row">
                <div class="column">
                    <mat-form-field style="margin-right:2%" class="subItemField" appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input type="text" formControlName="nombre" matInput required>
                    </mat-form-field>
                     <mat-form-field style="margin-right:2%" class="subItemField" appearance="fill">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="estado" required>
                            <mat-option *ngFor="let estado of estados" [value]="estado.value">
                                {{estado.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancelar <mat-icon>cancel</mat-icon></button>
        <button mat-button cdkFocusInitial (click)="addInstitucion()">Agregar <mat-icon>add</mat-icon></button>
    </div>
    <div class="alertBox-container">
        <div class="alertBox">
            <alert></alert>
        </div>
    </div>
</div>