<div class="dialog-box">
    <h1 mat-dialog-title>Agregar estación</h1>
    <div mat-dialog-content>
        <form [formGroup]="programFormGroup" autocomplete="off">
            <div class="row">
                <div class="column">
                    <mat-form-field class="subItemField" appearance="fill">
                        <mat-label>Código</mat-label>
                        <input type="text" formControlName="codigo" matInput required>
                    </mat-form-field>
                    <mat-form-field class="subItemField" appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input type="text" formControlName="nombre" matInput required>
                    </mat-form-field>
                    <mat-form-field class="subItemField" appearance="fill">
                        <mat-label>Tipo punto</mat-label>
                        <mat-select formControlName="punto" required>
                            <mat-option *ngFor="let tipoPunto of tipoPunto" [value]="tipoPunto.tip_pun_est_descripcion">{{ tipoPunto.tip_pun_est_descripcion }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="subItemField" appearance="fill">
                        <mat-label>Matriz</mat-label>
                        <mat-select formControlName="matriz" required>
                            <mat-option *ngFor="let matrices of matrices" [value]="matrices.nombre">{{ matrices.nombre }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="subItemField" appearance="fill">
                        <mat-label>Departamento</mat-label>
                        <mat-select formControlName="departamento" required>
                            <mat-option *ngFor="let departamentos of departamentos" [value]="departamentos.dep_nombre">{{departamentos.dep_nombre }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="subItemField" appearance="fill">
                        <mat-label>Orden de ingreso</mat-label>
                        <input type="text" formControlName="orden" matInput required>
                    </mat-form-field>
                    <mat-checkbox formControlName="ingresoInterno" style="margin-bottom: 30px;" class="subItemField">
                        Ingreso Preferente Interno
                    </mat-checkbox>
                </div>
                <div class="column">
                    <mat-form-field class="subItemField" appearance="fill">
                        <mat-label>Latitud</mat-label>
                        <input type="text" formControlName="latitud" matInput required>
                        <mat-hint>Ej: -34.905501</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="subItemField" appearance="fill">
                        <mat-label>Longitud</mat-label>
                        <input type="text" formControlName="longitud" matInput required>
                        <mat-hint>Ej: -56.185114</mat-hint>
                    </mat-form-field>
                    <div class="centered-button">
                        <button type="button" class="btn btn-info" (click)="setSubcuenca()">Buscar Subcuenca</button>
                    </div>
                    <mat-form-field class="subItemField" appearance="fill">
                        <mat-label>Cuenca</mat-label>
                        <input type="text" formControlName="cuenca" matInput>
                    </mat-form-field>
                    <mat-form-field class="subItemField" appearance="fill">
                        <mat-label>Subcuenca</mat-label>
                        <input type="text" formControlName="subcuenca" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div mat-dialog-actions>
                <button mat-button (click)="onNoClick()">Cancelar <mat-icon>cancel</mat-icon></button>
                <button mat-button cdkFocusInitial (click)="addStation()">Agregar <mat-icon>add</mat-icon></button>
            </div>
            
            <div class="alertBox-container">
                <div class="alertBox">
                    <alert></alert>
                </div>
            </div>
        </form>
    </div>
</div>
