.column {
    float: left;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.subItemField {
    width: 40%;
}

.alertBox {
    margin-top: 2%;
    margin-left:1%;
    width: 30%;
    height: 30%;
    align-items: center;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.mat-dialog-title{
    text-align: center;
}

.mat-dialog-actions{
    justify-content: center;
}

.alertBox-container {
    display: flex;
    justify-content: center;
}

.dialog-box {
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid black; 
    padding: 10px; 
    height: 750px;
}