<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="contenedores">
  <h1 class="animate__animated animate__backInDown">INGRESO PROGRAMA</h1>
  <div class="formulario">
    <mat-stepper [linear]="isLinear" #stepper class="stteperItem">
      
      <!-- Primer paso del Stepper -->
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" autocomplete="off">
          <ng-template matStepLabel>Datos programa</ng-template>
          <div class="flex-container">
          <mat-form-field style="margin-right:2%" class="subItemField" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input type="text" formControlName="nombre" matInput required>
          </mat-form-field>
          <mat-form-field class="subItemField" appearance="fill">
            <mat-label>Código</mat-label>
            <input type="text" formControlName="codigo" matInput required>
          </mat-form-field>
          
          <mat-checkbox formControlName="visiblePorExternos" >
            Visible por externos
          </mat-checkbox>
        </div>      
        
        <div class="separator-container">
          <hr class="separator">
        </div>
          <div class="parameters-container">
            <!-- Contenedor para los parámetros y los seleccionados -->
            <div class="parameters-column">
              <h2>Parámetros</h2>
              <div class="scrollable-list">
                <div class="form-fields-container">
                <mat-form-field>
                  <mat-select placeholder="Seleccionar grupo" formControlName="selectedGroup" (selectionChange)="onGroupChange($event)" style="cursor: pointer;">
                    <mat-option *ngFor="let group of groups" [value]="group.name">
                      {{ group.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Buscar parámetros" formControlName="searchTerm" (input)="onSearchInputChange($event)">
                </mat-form-field>
              </div>
                <mat-list>
                  <mat-list-item *ngIf="selectedGroup" (click)="selectAllOptionsInGroup()" [ngClass]="{ 'bold-text': selectedGroup === 'Todos los' }" style="cursor: pointer;">
                    <span>Todos los {{ selectedGroup }}</span>
                  </mat-list-item>
                  <mat-list-item *ngFor="let option of filteredOptions" (click)="selectOption(option.parametro)" [class.greyed-out]="isSelected(option.parametro)" style="cursor: pointer;">
                    {{ option.parametro }}
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          
            <div class="selected-options">
              <h2>Parámetros seleccionados</h2>
              <div class="scrollable-list">
                <mat-chip-list>
                  <mat-chip *ngFor="let selected of selectedOptions" [removable]="true" (removed)="removeOption(selected.option)" [ngStyle]="{'background-color': selected.color}">
                    {{ selected.option }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>  
          <div class="button-and-alert-container">    
            <button type="button" class="btn btn-info" (click)="validateAndAddProgram()">Crear Programa</button>                          
            
            <div class="alertBox">
              <alert></alert> 
            </div>
          </div>
          <button mat-raised-button matStepperNext color="primary">Continuar</button>
        </form>
      </mat-step>
      
      <!-- Segundo paso del Stepper -->
      <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Estaciones</ng-template>
        <form [formGroup]="secondFormGroup" autocomplete="off">
          <h1 mat-dialog-title>Agregar estación</h1>
          <div mat-dialog-content>
              <form [formGroup]="stationFormGroup" autocomplete="off">
                  <div class="row">
                      <div class="column">
                          <mat-form-field class="subItemField" appearance="fill">
                              <mat-label>Código</mat-label>
                              <input type="text" formControlName="codigo" matInput required>
                          </mat-form-field>
                          <mat-form-field class="subItemField" appearance="fill">
                              <mat-label>Nombre</mat-label>
                              <input type="text" formControlName="nombre" matInput required>
                          </mat-form-field>
                          <mat-form-field class="subItemField" appearance="fill">
                              <mat-label>Tipo punto</mat-label>
                              <mat-select formControlName="punto" required>
                                  <mat-option *ngFor="let tipoPunto of tipoPunto" [value]="tipoPunto.id_tipo_punto">{{ tipoPunto.tip_pun_est_descripcion }}</mat-option>
                              </mat-select>
                          </mat-form-field>
                          <mat-form-field class="subItemField" appearance="fill">
                              <mat-label>Matriz</mat-label>
                              <mat-select formControlName="matriz" required>
                                  <mat-option *ngFor="let matrices of matrices" [value]="matrices.id_matriz">{{ matrices.nombre }}</mat-option>
                              </mat-select>
                          </mat-form-field>
                          <mat-form-field class="subItemField" appearance="fill">
                              <mat-label>Departamento</mat-label>
                              <mat-select formControlName="departamento" required>
                                  <mat-option *ngFor="let departamentos of departamentos" [value]="departamentos.id_departamento">{{departamentos.dep_nombre }}</mat-option>
                              </mat-select>
                          </mat-form-field>
                          <mat-form-field class="subItemField" appearance="fill">
                              <mat-label>Orden de ingreso</mat-label>
                              <input type="text" formControlName="orden" matInput required>
                          </mat-form-field>
                          <mat-checkbox formControlName="ingresoInterno" style="margin-bottom: 30px;" class="subItemField">
                              Ingreso Preferente Interno
                          </mat-checkbox>
                      </div>
                      <div class="column">
                          <mat-form-field class="subItemField" appearance="fill">
                              <mat-label>Latitud</mat-label>
                              <input type="text" formControlName="latitud" matInput required>
                              <mat-hint>Ej: -34.905501</mat-hint>
                          </mat-form-field>
                          <mat-form-field class="subItemField" appearance="fill">
                              <mat-label>Longitud</mat-label>
                              <input type="text" formControlName="longitud" matInput required>
                              <mat-hint>Ej: -56.185114</mat-hint>
                          </mat-form-field>
                          <div class="centered-button2">
                              <button type="button" class="btn btn-info" (click)="setSubcuenca()">Buscar Subcuenca</button>
                          </div>
                          <mat-form-field class="subItemField" appearance="fill">
                              <mat-label>Cuenca</mat-label>
                              <input type="text" formControlName="cuenca" matInput>
                          </mat-form-field>
                          <mat-form-field class="subItemField" appearance="fill">
                              <mat-label>Subcuenca</mat-label>
                              <input type="text" formControlName="subcuenca" matInput>
                          </mat-form-field>
                      </div>
                  </div>
              </form>
                  <div mat-dialog-actions>
                      <button mat-button (click)="onNoClick()">Cancelar <mat-icon>cancel</mat-icon></button>
                      <button mat-button cdkFocusInitial (click)="addStationAgua()">Agregar <mat-icon>add</mat-icon></button>
                  </div>
                  
                  <div class="alertBox-container">
                      <div class="alertBox">
                          <alert></alert>
                      </div>
                  </div>
           
          </div>
          <button mat-raised-button matStepperPrevious color="primary" style="margin-right: 10px;">Volver</button>
          <button mat-raised-button matStepperNext color="primary">Continuar</button>
        </form>
      </mat-step>
      
    </mat-stepper>
  
</div>