.mat-dialog-title{
    text-align: center;
}

.mat-dialog-actions{
    justify-content: center;
}

.alertBox-container {
    display: flex;
    justify-content: center;
}

.alertBox {
    margin-top: 4%;
    width: 60%;
    align-items: center;
}
